html {
	background-color: #DDA7E0;
}

header {
	text-align: center;
}

#intro-heading {
	color: #521451;
	font-family: "Book Antiqua", serif;
	font-size: 40px;
	text-decoration: underline;
}

p { 
	color: white;
	font-family: "Century Gothic", sans-serif;
	font-size: 20px;
}

a {
	color: #521451;
}

#form-table {
	border: 1px #521451;
	align-items: center;
}

th {
	font-family: "Century Gothic", sans-serif;
	color: white;
}

label {
	color: #521451;
	font-family: "Century Gothic", sans-serif;
	font-size: 20px;
}