* {
	margin: 0;
	padding: 0;
}

html {
	background: #D8BFD8
}	

#intro-heading {
	text-align: center;
	text-decoration: underline;
	color: #4B0082;
	font-family: "Book Antiqua", serif;
	font-size: 40px;
}