* {
	margin: 0px;
	padding: 0px;
}

html {
	background-image: url("https://morg0187.github.io/lib2024/in-class-2/img/background-bananas.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.clearfix::after {
  content: "";
  clear: both;
  display: inline-block;
}

#header {
	padding: 75px;
	background-color: #b39ddb;
	height: 475px;
	width: calc(100% - 75px);
}

.head-div {
	float: left;
}

.heading {
	font-family: Ubuntu, sans-serif;
	font-size: 36px;
	color: #000320;
}

.nav-div {
	height: 75px;
	width: 160px;
	background-color: #f9d57d;
	font-family: "Baloo Chettan", sans-serif;
	text-align: center;
}