* {
	margin: 0;
	padding: 0;
}

html {
	background-image: url(https://morg0187.github.io/lib2024/in-class-2/img/bananas.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.text {
	font-family: Comfortaa, sans-serif;
	font-size: 16px;
	text-align: center;
}

.table-heading {
	font-family: "Playfair Display SC", serif;
	font-size: 20px;
	text-decoration: underline;
	text-align: center;
}

.table {
	margin-left: 10%;
	margin-right:10%;
	width: 80%;
	text-align: center;
	background: white;
	font-family: Comfortaa, sans-serif;
	font-size: 16px;
}

#heading {
	font-family: "Playfair Display SC", serif;
	font-size: 36px;
	text-decoration: underline;
	text-align: center;
}

#page-info {
	margin: 50px;
}