* {
	margin: 0;
	padding: 0;
}

header {
	background-color: #7cc576;
	width: 100%;
	min-height: 235px;
}

main {
	background-image: url(https://morg0187.github.io/lib2024/assg-4/img/pipes.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 725px;
	width: 96%;
	padding: 2%;
}

table, th, td {
	border: 2px solid #7cc576;
	border-collapse: collapse;
}

.clearfix::after {
	content: "";
  	clear: both;
  	display: inline-block;
}

.header-div {
	float: left;
}

.heading {
	font-family: 'Patrick Hand', cursive;
}

.heading.heading-2 {
	font-size: 26px;
}

.nav-li {
	min-height: 65px;
	width: 15%;
	background-color: #6dcff6;
	bottom: 0px;
	display: inline-block;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
	justify-content: center;
}

.nav-link {
	font-family: 'Dosis', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.text {
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
}

.table {
	text-align: center;
	background: rgba(0, 0, 0, 0.5);
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
}

#main-heading {
	padding-top: 50px;
    padding-right: 175px;
    padding-bottom: 50px;
    padding-left: 175px;
}

#heading-1 {
	font-size: 36px;
}

#nav-div {
	position: relative;
	left: 0px;
	bottom: 0px;
	width: 92%;
	display: block;
	margin-left: 4%;
	margin-right: 4%;
}