* {
	margin: 0;
	padding: 0;
}

header {
	height: 230px;
	background-color: #7cc576;
}

main {
	background-image: url(https://morg0187.github.io/lib2024/assg-4/img/pipes.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 720px;
	padding: 2%;
}

.clearfix::after {
	content: "";
  	clear: both;
  	display: inline-block;
}

.header-div {
	float: left;
}

.heading {
	font-family: 'Patrick Hand', cursive;
}

.heading.minor-heading {
	font-family: 'Patrick Hand', cursive;
	font-size: 20px;
}

.nav-li {
	height: 65px;
	width: 15%;
	background-color: #6dcff6;
	bottom: 0px;
	display: inline-block;
	text-align: center;
	margin-left: 4%;
	margin-right: 4%;
	justify-content: center;
}

.nav-link {
	font-family: 'Dosis', sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.main-div {
	background-color: rgba(255,255,255,0);
}

.paragraph {
	font-family: 'Dosis', sans-serif;
	font-size: 16px;
}

.figure {
	height: 265px;
	text-align: center;
	width: 32%;
	justify-content: center;
}

.aside-img {
	max-height: 140px;
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: 15px;
}

#main-heading {
	padding-top: 50px;
    padding-right: 175px;
    padding-bottom: 50px;
    padding-left: 175px;
}

#heading-1 {
	font-size: 36px;
}

#nav-div {
	position: relative;
	left: 0px;
	bottom: 0px;
	width: 92%;
	display: block;
	margin-left: 4%;
	margin-right: 4%;
}

#article-div {
	float: left;
	width: 65%;
}

#heading-2 {
	font-size: 26px;
}

#aside-div {
	float: right;
	width: 31%;
}

#sidebar-img {
	max-height: 210px;
	max-width: 100%;
	width: auto;
	height: auto;
}

#img-div {
	float: left;
	width: 96%;
	margin-top: 3%;
}

@media ( min-width:960px; )