* {
	margin: 0;
	padding: 0;
}


header {
	height: 230px;
	background-color: #7cc576;
}

.clearfix::after {
	content: "";
  	clear: both;
  	display: inline;
}

.header-div {
	float: left;
}

#main-heading {
	padding: 175px;
}

@media ( min-width:960px; )
