* {
	margin: 0;
	padding: 0;
}

header {
	height: 230px;
	background-color: #7cc576;
}

.clearfix::after {
	content: "";
  	clear: both;
  	display: inline-block;
}

.header-div {
	float: left;
}

.nav-li {
	height: 65px;
	width: 17.1875%+60px;
	background-color: #6dcff6;
	bottom: 0px;
	display: inline-block;
	text-align: center;
	align-content: center;
	margin-left: 30px;
	margin-right: 30px;
}

#main-heading {
	padding-top: 50px;
    padding-right: 175px;
    padding-bottom: 50px;
    padding-left: 175px;
}

#nav-div {
	position: relative;
	left: 0px;
	bottom: 0px;
	margin-left: 30px;
	margin-right: 30px;
	display: block;
}

@media ( min-width:960px; )
