* {
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: inline-block;
}

.header-div {
	float: left;
	width: 95%;
}

.heading {
	font-family: dayposterblackregular, sans-serif;
}

.navigation {
	list-style-type: none;
}

#logo-div {
	height: 4%;
	padding-left: 5%;
	padding-bottom: 1.5%;
	padding-top: 1.5%;
}

#main-heading {
	font-size: 36px;
}

#nav-div {
	height: 3%;
	padding-left: 5%;
	background-color: #c693d6;
}

#header-nav {
	display: inline-block;
}