* {
	margin: 0;
	padding: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: inline-block;
}

.header-div {
	float: left;
	width: 95%;
}

.heading {
	font-family: 'dayposterblackregular', sans-serif;
}

#logo-div {
	height: 4%;
	padding-left: 5%;
	padding-bottom: 5%;
	padding-top: 5%;
}