* {
	margin: 0;
	padding: 0;
}

main {
	background-image: url("https://morg0187.github.io/lib2024/final/img/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 90%;
	padding: 5%;
}

.clearfix::after {
	content: "";
	clear: both;
	display: inline-block;
}

.header-div {
	float: left;
	width: 95%;
}

.heading {
	font-family: 'inknut_antiquablack', serif;
}

.nav-list {
	list-style-type: none;
}

.nav-li {
	padding: 2%;
	text-align: center;
	display: inline-block;
}

.nav-link {
	font-family: 'Comfortaa', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.nav-link:link {
	color: black;
}

.nav-link:hover {
	color: white;
}

#logo-div {
	height: 4%;
	padding-left: 5%;
	padding-bottom: 1.5%;
	padding-top: 1.5%;
}

#main-heading {
	font-size: 36px;
}

#nav-div {
	height: 3%;
	padding-left: 5%;
	background-color: #c693d6;
}